.dataset*.jl
.hyperparams*.jl
*.csv
*.csv.out*
*.bkup
*.pkl
performance*txt
*.out
trials*
**/__pycache__
build
dist
*.vs/*
*.pyproj
*.sln
pysr/.vs/
pysr.egg-info
Manifest.toml
workflow
docs/index.md
docs/src/index.md
docs/src/_api.md
docs/src/api.md
docs/src/api-advanced.md
docs/src/.vitepress/cache/
docs/node_modules/
site
**/.DS_Store
**/*.code-workspace
**/*.tar.gz
venv
requirements-dev.lock
requirements.lock
outputs
.mypy_cache
