.dataset*.jl
.hyperparams*.jl
*.csv
*.csv.out*
*.bkup
*.pkl
performance*txt
*.out
trials*
**/__pycache__
build
dist
*.vs/*
*.pyproj
*.sln
pysr/.vs/
pysr.egg-info
Manifest.toml
workflow
docs/index.md
site
**/.DS_Store
**/*.code-workspace
**/*.tar.gz
venv
requirements-dev.lock
requirements.lock
