name: slurm

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v5
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: "Install PySR"
        run: |
            python -m pip install --upgrade pip
            pip install '.[dev]'
      - name: "Run Slurm tests"
        env:
          PYSR_RUN_SLURM_TESTS: "1"
          PYSR_SLURM_TEST_JULIA_DEPOT_DIR: "${{ github.workspace }}/.julia"
        run: python -m pysr test slurm
