name: Deploy Docker

on:
  schedule:
    - cron: "0 10 * * *"
  push:
    branches:
      - "**"
    tags:
      - "v*.*.*"
  workflow_dispatch:


jobs:
  docker:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [linux/amd64]
        python-version: [3.12.3]
        julia-version: [1.10.3]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: github.actor != 'dependabot[bot]'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub registry
        uses: docker/login-action@v3
        if: github.actor != 'dependabot[bot]'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          #  List of Docker images to use as base name for tags
          images: |
            mcranmer/pysr
            ghcr.io/${{ github.repository }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: "Build (Dependabot: no push, no registry cache)"
        if: github.actor == 'dependabot[bot]'
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.arch }}
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            PYVERSION=${{ matrix.python-version }}
            JLVERSION=${{ matrix.julia-version }}

      - name: Build and push
        if: github.actor != 'dependabot[bot]'
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.arch }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=mcranmer/pysr:buildcache
          cache-to: type=registry,ref=mcranmer/pysr:buildcache,mode=max
          build-args: |
            PYVERSION=${{ matrix.python-version }}
            JLVERSION=${{ matrix.julia-version }}
